* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background: #ccc;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: white;
    position: fixed;
}

h3 {
    margin: 0 15px;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navs {
    margin: 0 10px;
    border: 1px solid black;
    padding: 5px 6px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

#home {
    border: none;
    background: #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: transform 0.25s ease;
}



#home:hover {
    background: linear-gradient(125deg, #1a9856, #1aff56, #fa9856);
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transform: scaleX(0.95);
}

#contact {
    border: none;
    background: #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: transform 0.25s ease;
}

#contact:hover {
    background: linear-gradient(125deg, #1a9856, #1aff56, #fa9856);
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transform: scaleX(0.95);
}

#project {
    border: none;
    background: #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: transform 0.25s ease;
}

#project:hover {
    background: linear-gradient(125deg, #1a9856, #1aff56, #fa9856);
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transform: scaleX(0.95);
}


.page {
    width: 100%;
    height: 85%;
    margin-top: 15vh;
    background: #ccc;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    bottom: 1;
    padding: 20px;
    border: 6px solid black;
} */

.section {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 0px 0px rgba(0,0,0,0.3);
    width: 95%;
    min-height: 200px;
    margin-top: 10px;
    padding: 10px;
    background: #444;
    transition: transform 0.2s ease;
}

.section:hover {
    transform: scale(1.01);
}

#section {
    display: flex;
    gap: 10px;
}

#aboutme {
    width: 50%;
    height: 180px;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    background: #ddd;
    transition: transform 0.2s ease-in-out;
}

#aboutme:hover {
    transform: scale(0.95);
}

#h3 {
    margin-top: 5px;
}

p {
    /* margin-top: -15px; */
    margin: 10px;
}

#learning {
    width: 50%;
    height: 180px;
    /* border: 1px solid black; */
    background: #ddd;
    transition: transform 0.2s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#learning:hover {
    transform: scale(0.95);
}

#projects {
    display: flex;
    justify-content: space-around;
}

.project {
    transition: transform 0.2s ease-in-out;
    width: 30%;
    height: 180px;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    background: #ddd;
}

h4 {
    margin: 5px 6px;
}

.project:hover {
    transform: scale(0.95);
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#contactInfo {
    transition: transform 0.2s ease-in-out;
    width: 45%;
    height: 180px;
    background: #ddd;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#contactInfo:hover {
    transform: scale(0.95);
}

#contactPage {
    transition: transform 0.2s ease-in-out;
    background: #ddd;
    width: 45%;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#contactPage:hover {
    transform: scale(0.95);
}

a {
    margin: 5px;
}